div.index div.developer .social {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  float: none;
  width: 100%;
  gap: 10px 26px;
}
@media (max-width: 1199px) {
  div.index div.developer .social {
    gap: 10px 15px;
  }
}
@media (max-width: 1199px) and (max-width: 575px) {
  div.index div.developer .social {
    margin-top: 0;
    gap: 10px;
  }
}
div.index div.developer .social .box {
  float: none;
  width: auto;
}

@media (max-width: 1199px) {
  div.index {
    min-height: 100vh;
    height: auto;
    padding-bottom: 6%;
  }
}
@media (max-width: 1199px) and (max-width: 575px) {
  div.index {
    padding-inline: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1199px) {
  div.index main {
    display: flex;
    flex-wrap: wrap-reverse;
    float: none;
    height: auto;
    max-width: 600px;
    margin-inline: auto;
  }
}
@media (max-width: 1199px) {
  div.index main .developer {
    width: 100%;
    float: none;
    padding-top: 0;
    padding-bottom: 15px;
  }
  div.index main .developer .logoWrap {
    margin: 0;
  }
  div.index main .developer .logoWrap img {
    height: 150px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 1199px) {
  div.index main aside {
    width: 100%;
    float: none;
    border: none;
    padding-inline: 6%;
  }
  div.index main aside div.record {
    width: 100%;
  }
}

@media (max-width: 1399px) {
  div.loginWrap.waiter div#system div#logo {
    background-size: 180px;
  }
}
@media (max-width: 1399px) and (max-width: 575px) {
  div.loginWrap.waiter div#system div#logo {
    background-size: 150px;
  }
}
@media (max-width: 1399px) {
  .loginWrap.waiter .users .number-box input[type=password] {
    flex-basis: 58.5%;
    width: 72%;
  }
}
@media (max-width: 1199px) {
  div.loginWrap.waiter div.users {
    width: 100%;
    padding-inline: 2%;
    padding-bottom: 145px;
  }
  div.loginWrap.waiter div.users .user-box {
    width: 97%;
    min-height: auto;
    margin-bottom: 6%;
  }
  div.loginWrap.waiter div.users .user-box .radio-box {
    height: auto;
  }
  div.loginWrap.waiter div.users .user-box .radio-box .profile-box {
    height: 110px;
  }
}
@media (max-width: 1199px) and (max-width: 575px) {
  div.loginWrap.waiter div.users .user-box .radio-box .profile-box {
    height: 100px;
  }
}
@media (max-width: 1199px) {
  div.loginWrap.waiter div.users .user-box .radio-box .profile-box img {
    width: 100px !important;
  }
}
@media (max-width: 1199px) and (max-width: 575px) {
  div.loginWrap.waiter div.users .user-box .radio-box .profile-box img {
    width: 90px !important;
  }
}
@media (max-width: 1199px) {
  div.loginWrap.waiter div.users .number-box {
    margin: 0 auto;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  div.loginWrap.waiter div.users .number-box {
    width: 100%;
    max-width: 450px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 500px) {
  div.loginWrap.waiter div.users .number-box {
    max-width: 350px;
  }
}
@media (max-width: 1199px) {
  div.loginWrap.waiter div.sidebar {
    float: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  div.loginWrap.waiter div#system div#info {
    margin-top: 0;
  }
  div.loginWrap.waiter div#system {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  div.loginWrap.waiter div#system div#logo {
    height: 115px;
  }
  div.loginWrap.waiter div#company {
    height: 0;
    margin: 0;
  }
}
@media (max-width: 1399px) {
  #middlebar div.bars.middle {
    display: flex;
    gap: 10px;
    float: none;
  }
  #middlebar div.bars.middle div.box.projects {
    flex-basis: 55%;
  }
  #middlebar div.bars.middle div.box.right {
    flex-basis: 45%;
  }
  #middlebar div.bars.middle div.box.circle {
    flex-basis: 45%;
  }
  #middlebar div.bars.middle div.box.property {
    flex-basis: 55%;
  }
}
@media (max-width: 1199px) {
  .main-wrap {
    width: 100%;
    padding-left: 0;
  }
  #sidebar {
    display: none;
  }
  #middlebar {
    width: 100%;
    height: auto !important;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-bottom: 25px;
  }
  #middlebar .topBar {
    display: flex;
    align-items: center;
    float: none !important;
  }
  #middlebar .topBar #sidebarToggler {
    margin-left: 2%;
  }
  #middlebar div.bars.middle {
    display: flex;
    gap: 10px;
    float: none;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  #middlebar div.bars.middle {
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  #middlebar div.bars.middle div.box {
    margin: 0 !important;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  #middlebar div.bars.middle div.box {
    flex-basis: 100% !important;
    width: 100% !important;
  }
}
@media (max-width: 1199px) {
  #middlebar div.bars.middle div.box.projects {
    flex-basis: 60%;
  }
  #middlebar div.bars.middle div.box.right {
    flex-basis: 40%;
  }
  #middlebar div.bars.middle div.box.circle {
    flex-basis: 40%;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #middlebar div.bars.middle div.box.circle {
    flex-basis: 50%;
  }
}
@media (max-width: 1199px) {
  #middlebar div.bars.middle div.box.property {
    flex-basis: 60%;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #middlebar div.bars.middle div.box.property {
    flex-basis: 50%;
  }
}
@media (max-width: 1199px) {
  #dashboard div.bars-top {
    display: grid;
    height: auto;
    min-height: 125px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4px;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  #dashboard div.bars-top {
    grid-template-columns: repeat(2, 1fr);
    min-height: 100px;
    gap: 4px;
  }
  #dashboard div.bars-top > div {
    margin: 0 !important;
  }
}/*# sourceMappingURL=responsive.css.map */