@media only screen and (min-width: 1680px) {
  .middlebar .order-form .meals .meal-box img {
    width: 100%;
  }
}
@media only screen and (max-width: 1366px) {
  .main-wrap .sidebar {
    width: 8%;
  }
  .sidebar .logoWrap {
    padding-top: 10px;
    height: 50px;
  }
  .sidebar .logoWrap img {
    width: 42px;
  }
  .sidebar ul {
    margin-top: 26%;
  }
  .sidebar > ul > li > a i {
    margin-bottom: 5px;
    font-size: 1.4em;
  }
  .sidebar > ul > li > a span {
    font-size: 0.8em;
  }
  .sidebar footer {
    bottom: 40px;
  }
  /* --- */
  .middlebar .top-bar {
    padding: 0 2% 0 1.5%;
    height: 50px;
  }
  .middlebar .top-bar .restaurant-name {
    font-size: 1.1em;
  }
  .middlebar .top-bar .icon {
    width: 34px;
    height: 34px;
  }
  .middlebar .top-bar .drop-down {
    right: 4.5%;
    width: 26%;
    top: 54px;
  }
  .middlebar .top-bar .drop-down .row {
    padding: 2% 5%;
    font-size: 0.85em;
  }
  .middlebar .top-bar .drop-down .row.bar {
    font-size: 0.85em;
  }
  .middlebar .top-bar .drop-down .row .photo {
    flex-basis: 25%;
  }
  .middlebar .top-bar .drop-down .row .links {
    flex-basis: 68%;
  }
  .middlebar .options-bar {
    padding: 0 1.5%;
    height: 32px;
    line-height: 32px;
    font-size: 0.8em;
  }
  /* --- order-form --- */
  .middlebar .dashboard-content .order-form {
    margin: 0.7% 1.5%;
  }
  .middlebar .order-form .waiters {
    padding: 15px 25px;
  }
  .middlebar .order-form .packages {
    flex-basis: 63%;
    margin: 0.7% 0;
    padding: 15px 25px;
  }
  .middlebar .order-form .client {
    flex-basis: 36.2%;
    margin: 0.7% 0;
    padding: 15px 20px;
  }
  .middlebar .order-form .meals {
    flex-basis: 63%;
    height: 446px;
    padding: 15px 25px;
  }
  .middlebar .order-form .price-buttons {
    flex-basis: 36.2%;
  }
  /* -- */
  .middlebar .order-form .waiters .waiter-box {
    padding: 6px 15px;
    font-size: 0.9em;
  }
  /* -- */
  .middlebar .order-form .packages .radio-box {
    margin-right: 1.5%;
  }
  .middlebar .order-form .packages .radio-box .package-box {
    height: 112px;
  }
  .middlebar .order-form .packages .radio-box .package-box img {
    max-width: 100px;
    width: 100px !important;
  }
  .middlebar .order-form .packages .radio-box .package-box span {
    bottom: 6px;
    width: 91%;
  }
  /* -- */
  .middlebar .order-form .client .radio-box {
    flex-basis: 24%;
  }
  .middlebar .order-form .client .client-box {
    padding: 13px 10px;
  }
  .middlebar .order-form .client .radio-box.focused .client-box {
    outline: 1px solid #c79457;
  }
  .middlebar .order-form .client .client-box i {
    font-size: 1.7em;
    margin-bottom: 4px;
  }
  .middlebar .order-form .client .client-box span {
    font-size: 0.9em;
  }
  .middlebar .order-form .client .selected p {
    padding: 6px 0;
    font-size: 0.95em;
  }
  /* -- */
  .middlebar .order-form .meals .radio-box {
    padding: 8px 15px;
    flex-basis: 18.5%;
    margin-right: 12px;
  }
  .middlebar .order-form .meals .radio-box:nth-child(5n+5) {
    margin-right: 0;
  }
  .middlebar .order-form .meals .radio-box .triangle-white {
    border: 9.2px solid #fff;
  }
  .middlebar .order-form .meals .radio-box .triangle-color {
    border-top: 18px solid #ad722d;
    border-right: 18px solid transparent;
  }
  .middlebar .order-form .meals .meal-box .meal-name {
    height: 20px;
    font-size: 0.9em;
  }
  /* -- */
  .middlebar .order-form .price-buttons .prices .prices-wrap {
    height: 220px;
  }
  .middlebar .order-form .price-buttons .prices .record {
    padding: 10px 20px;
  }
  .middlebar .order-form .price-buttons .prices .record.titles {
    width: 96.5%;
    padding: 13px 20px;
    font-size: 1em;
  }
  .middlebar .order-form .price-buttons .prices .record.values {
    font-size: 1em;
  }
  .middlebar .order-form .price-buttons .prices .record .col.delete {
    flex-basis: 13%;
  }
  .middlebar .order-form .price-buttons .prices .record .col.qty .qty-btn {
    font-size: 1.3em;
  }
  .middlebar .order-form .price-buttons .prices .record .col.qty .input {
    min-width: 40px;
    max-width: 60px;
  }
  .middlebar .order-form .price-buttons .prices .record .col.delete a {
    font-weight: 300;
  }
  .middlebar .order-form .price-buttons .prices .totals {
    padding: 11px 40px;
  }
  .middlebar .order-form .price-buttons .prices .totals .label {
    font-size: 1.1em;
  }
  .middlebar .order-form .price-buttons .prices .totals .amount {
    font-size: 1.7em;
  }
  /* -- */
  .middlebar .order-form .price-buttons .buttons-wrap {
    margin-top: 1.6%;
  }
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .pay-switch {
    padding: 8px 20px;
  }
  .middlebar .order-form .switch-wrapper .unchecked {
    width: 15px;
    right: 18%;
    transform: translateX(0) translateY(-30%) scale(1);
  }
  .middlebar .order-form .switch-wrapper svg {
    top: 38%;
  }
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .pay-switch span {
    top: -12px;
    font-size: 0.9em;
  }
  /* --- */
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .input-text {
    width: 86%;
    margin: 10px 20px;
    padding: 10px 15px;
  }
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .input-text::-webkit-input-placeholder,
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .input-text::-moz-placeholder,
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .input-text:-ms-input-placeholder,
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .input-text::-ms-input-placeholder,
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .input-text::placeholder {
    color: #aaa;
  }
  /* -- */
  .middlebar .order-form .price-buttons .buttons-wrap .btn-submit i {
    margin-bottom: 10px;
  }
  .middlebar .order-form .price-buttons .buttons-wrap .btn-submit span {
    font-size: 1.1em;
  }
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: 0.3s;
}
.overlay.active {
  background-color: rgba(0, 0, 0, 0.5019607843);
  z-index: 1111;
}

@media only screen and (max-width: 1199px) {
  .main-wrap {
    padding-left: 7%;
  }
  .main-wrap .sidebar {
    width: 95px;
    transform: translateX(-100%);
    transition: 0.3s;
    z-index: 1112;
  }
  .main-wrap .sidebar.active {
    transform: translateX(0);
  }
  .sidebar .logoWrap {
    height: 40px;
  }
  .sidebar .logoWrap img {
    width: 40px;
  }
  .sidebar ul {
    margin-top: 45%;
  }
  .sidebar ul li {
    padding: 25% 7%;
  }
  .sidebar > ul > li > a i {
    margin-bottom: 0;
    font-size: 1.8em;
  }
  .sidebar footer {
    bottom: 30px;
  }
  /* --- */
  .middlebar .top-bar {
    padding: 0 3% 0 2.5%;
    height: 50px;
  }
  .middlebar .top-bar .restaurant-name {
    font-size: 1em;
  }
  .middlebar .top-bar .icon {
    width: 36px;
    height: 36px;
  }
  .middlebar .top-bar .icon > img {
    border-width: 0;
  }
  .middlebar .top-bar .drop-down {
    right: 1.5%;
    width: 35%;
    top: 56px;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }
  .middlebar .top-bar .drop-down .row {
    padding: 2% 5%;
    font-size: 0.9em;
  }
  .middlebar .top-bar .drop-down .row.button {
    padding: 3% 5%;
  }
  .middlebar .top-bar .drop-down .row.button .logout {
    padding: 2.2% 0;
  }
  .middlebar .top-bar .drop-down .row.button .forgot {
    font-size: 0.95em;
  }
  .middlebar .options-bar {
    padding: 0 2.5%;
    height: 34px;
    line-height: 34px;
    font-size: 0.8em;
  }
  /* --- order-form --- */
  .middlebar .dashboard-content .order-form {
    margin: 0.9% 1.5%;
    align-items: flex-start;
  }
  .middlebar .order-form .waiters {
    height: 150px;
    padding: 10px 20px 30px;
    flex-basis: 55%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;
    display: inline;
  }
  .middlebar .order-form .packages {
    flex-basis: 55%;
    order: 3;
    padding: 15px 20px;
    margin-bottom: 8px;
    margin-top: -20px;
  }
  .middlebar .order-form .client {
    margin: 0;
    padding: 10px 15px;
    flex-basis: 44%;
    order: 2;
  }
  .middlebar .order-form .meals {
    height: 342px;
    flex-basis: 55%;
    order: 5;
    margin-top: -475px;
  }
  .middlebar .order-form .price-buttons {
    flex-basis: 44%;
    order: 4;
    margin-top: 8px;
  }
  /* -- */
  .middlebar .order-form .waiters .waiter-box {
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 20px;
  }
  .middlebar .order-form .waiters input:checked ~ .waiter-box {
    outline: 1px solid #d0b78f;
  }
  /* -- */
  .middlebar .order-form .client .radio-box {
    flex-basis: 31%;
  }
  .middlebar .order-form .client .client-box {
    padding: 16px 0;
  }
  .middlebar .order-form .client .radio-box.focused .client-box {
    outline: 1px solid #c79457;
  }
  .middlebar .order-form .client .client-box i {
    font-size: 1.9em;
    margin-bottom: 8px;
  }
  .middlebar .order-form .client .client-box span {
    font-size: 0.95em;
  }
  .middlebar .order-form .client .selected p {
    padding: 8px 0;
    font-size: 0.9em;
  }
  /* -- */
  .middlebar .order-form .packages .radio-box {
    margin-right: 10px;
  }
  .middlebar .order-form .packages .radio-box .package-box {
    height: 110px;
    padding: 7px;
  }
  .middlebar .order-form .packages .radio-box .package-box img {
    max-width: 90px;
    width: 90px !important;
  }
  .middlebar .order-form .packages .radio-box .package-box span {
    left: 7px;
    bottom: 12px;
    width: 86%;
  }
  /* -- */
  .middlebar .order-form .meals .radio-box {
    margin-bottom: 15px;
    padding: 8px 20px;
    flex-basis: 31%;
    margin-right: 12px;
  }
  .middlebar .order-form .meals .radio-box:nth-child(5n+5) {
    margin-right: 12px;
  }
  .middlebar .order-form .meals .radio-box:nth-child(3n+3) {
    margin-right: 0;
  }
  .middlebar .order-form .meals .meal-box .meal-price {
    text-align: center;
    margin-bottom: 8px;
  }
  .middlebar .order-form .meals .meal-box .meal-name {
    margin-top: 8px;
  }
  /* -- */
  .middlebar .order-form .price-buttons .prices .prices-wrap {
    height: 286px;
  }
  .middlebar .order-form .price-buttons .prices .record {
    padding: 13px 18px;
  }
  .middlebar .order-form .price-buttons .prices .record.titles {
    padding: 13px 18px;
  }
  .middlebar .order-form .price-buttons .prices .record.values {
    font-size: 1em;
  }
  .middlebar .order-form .price-buttons .prices .totals {
    padding: 10px 40px;
  }
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .pay-switch {
    padding: 8px 15px;
  }
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .pay-switch span {
    position: absolute;
    top: 18px;
    left: 105px;
  }
  /* --- */
  .middlebar .order-form .price-buttons .buttons-wrap .left-part .input-text {
    width: 88%;
    margin: 10px 15px;
    padding: 6px 10px;
  }
}
@media (max-width: 991px) {
  div.orders-workplace #loadPage #dataTable div.cave.short {
    width: 12%;
  }
  div.orders-workplace #loadPage #dataTable div.cave.button {
    width: 14%;
  }
  div.orders-workplace #loadPage #dataTable div.cave.lmiddle {
    width: 16%;
  }
}
div.index div.developer .social {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  float: none;
  width: 100%;
  gap: 10px 26px;
}
@media (max-width: 1199px) {
  div.index div.developer .social {
    gap: 10px 15px;
  }
}
@media (max-width: 1199px) and (max-width: 575px) {
  div.index div.developer .social {
    margin-top: 0;
    gap: 10px;
  }
}
div.index div.developer .social .box {
  float: none;
  width: auto;
}

@media (max-width: 1199px) {
  div.index {
    min-height: 100vh;
    height: auto;
    padding-bottom: 6%;
  }
}
@media (max-width: 1199px) and (max-width: 575px) {
  div.index {
    padding-inline: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1199px) {
  div.index main {
    display: flex;
    flex-wrap: wrap-reverse;
    float: none;
    height: auto;
    max-width: 600px;
    margin-inline: auto;
  }
}
@media (max-width: 1199px) {
  div.index main .developer {
    width: 100%;
    float: none;
    padding-top: 0;
    padding-bottom: 15px;
  }
  div.index main .developer .logoWrap {
    margin: 0;
  }
  div.index main .developer .logoWrap img {
    height: 150px;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
@media (max-width: 1199px) {
  div.index main aside {
    width: 100%;
    float: none;
    border: none;
    padding-inline: 6%;
  }
  div.index main aside div.record {
    width: 100%;
  }
}

@media (max-width: 1399px) {
  div.loginWrap.waiter div#system div#logo {
    background-size: 180px;
  }
}
@media (max-width: 1399px) and (max-width: 575px) {
  div.loginWrap.waiter div#system div#logo {
    background-size: 150px;
  }
}
@media (max-width: 1399px) {
  .loginWrap.waiter .users .number-box input[type=password] {
    flex-basis: 58.5%;
    width: 72%;
  }
}
@media (max-width: 1199px) {
  div.loginWrap.waiter div.users {
    width: 100%;
    padding-inline: 2%;
    padding-bottom: 145px;
  }
  div.loginWrap.waiter div.users .user-box {
    width: 97%;
    min-height: auto;
    margin-bottom: 6%;
  }
  div.loginWrap.waiter div.users .user-box .radio-box {
    height: auto;
  }
  div.loginWrap.waiter div.users .user-box .radio-box .profile-box {
    height: 110px;
  }
}
@media (max-width: 1199px) and (max-width: 575px) {
  div.loginWrap.waiter div.users .user-box .radio-box .profile-box {
    height: 100px;
  }
}
@media (max-width: 1199px) {
  div.loginWrap.waiter div.users .user-box .radio-box .profile-box img {
    width: 100px !important;
  }
}
@media (max-width: 1199px) and (max-width: 575px) {
  div.loginWrap.waiter div.users .user-box .radio-box .profile-box img {
    width: 90px !important;
  }
}
@media (max-width: 1199px) {
  div.loginWrap.waiter div.users .number-box {
    margin: 0 auto;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  div.loginWrap.waiter div.users .number-box {
    width: 100%;
    max-width: 450px;
  }
}
@media (max-width: 1199px) and (max-width: 991px) and (max-width: 500px) {
  div.loginWrap.waiter div.users .number-box {
    max-width: 350px;
  }
}
@media (max-width: 1199px) {
  div.loginWrap.waiter div.sidebar {
    float: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  div.loginWrap.waiter div#system div#info {
    margin-top: 0;
  }
  div.loginWrap.waiter div#system {
    display: flex;
    align-items: center;
    margin-top: 0;
  }
  div.loginWrap.waiter div#system div#logo {
    height: 115px;
  }
  div.loginWrap.waiter div#company {
    height: 0;
    margin: 0;
  }
}
div.orders-workplace #loadPage #command #searchBox input.srchInput,
.orders-workplace div.twoCols div#searchBox input.srchInput {
  padding-left: 35px;
}

div.orders-workplace #loadPage #command #searchBox.large {
  max-width: 450px;
  width: 100%;
}

div.orders-workplace p#info {
  width: auto;
}
@media (max-width: 575px) {
  div.orders-workplace p#info {
    margin-bottom: 8px;
  }
}

select {
  padding-right: 20px;
}

@media (max-width: 767px) {
  div.orders-workplace #loadPage div.buttons.fullpage .btnAddNew {
    padding-top: 3%;
    padding-bottom: 3%;
  }
}
@media (max-width: 767px) and (max-width: 575px) {
  div.orders-workplace #loadPage div.buttons.fullpage .btnAddNew {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
#dynamicQnd .filter-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#dynamicQnd .filter-area #filters > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
#dynamicQnd .filter-area #filters * {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
#dynamicQnd .filter-area #filters select {
  width: 50px !important;
}
#dynamicQnd .filter-area > div {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

@media (max-width: 1399px) {
  #middlebar div.bars.middle {
    display: flex;
    gap: 10px;
    float: none;
  }
  #middlebar div.bars.middle div.box.projects {
    flex-basis: 55%;
  }
  #middlebar div.bars.middle div.box.right {
    flex-basis: 45%;
  }
  #middlebar div.bars.middle div.box.circle {
    flex-basis: 45%;
  }
  #middlebar div.bars.middle div.box.property {
    flex-basis: 55%;
  }
}
#middlebar .topBar,
#middlebar .top-bar,
.middlebar .topBar,
.middlebar .top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  #middlebar .topBar #sidebarToggler,
  #middlebar .top-bar #sidebarToggler,
  .middlebar .topBar #sidebarToggler,
  .middlebar .top-bar #sidebarToggler {
    display: none;
  }
}
#middlebar .topBar > div,
#middlebar .top-bar > div,
.middlebar .topBar > div,
.middlebar .top-bar > div {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 575px) {
  #middlebar .topBar > div,
  #middlebar .top-bar > div,
  .middlebar .topBar > div,
  .middlebar .top-bar > div {
    gap: 10px;
  }
}
#middlebar .topBar > div,
#middlebar .top-bar > div,
.middlebar .topBar > div,
.middlebar .top-bar > div {
  flex-basis: auto;
  width: auto !important;
}
#middlebar .topBar .restaurant-name,
#middlebar .topBar .user-name,
#middlebar .top-bar .restaurant-name,
#middlebar .top-bar .user-name,
.middlebar .topBar .restaurant-name,
.middlebar .topBar .user-name,
.middlebar .top-bar .restaurant-name,
.middlebar .top-bar .user-name {
  flex-basis: auto;
  margin-right: 10px;
}
@media (max-width: 575px) {
  #middlebar .topBar .restaurant-name,
  #middlebar .topBar .user-name,
  #middlebar .top-bar .restaurant-name,
  #middlebar .top-bar .user-name,
  .middlebar .topBar .restaurant-name,
  .middlebar .topBar .user-name,
  .middlebar .top-bar .restaurant-name,
  .middlebar .top-bar .user-name {
    display: none;
  }
}
#middlebar .topBar .user-name,
#middlebar .top-bar .user-name,
.middlebar .topBar .user-name,
.middlebar .top-bar .user-name {
  flex-shrink: 0;
}
#middlebar .topBar #programName,
#middlebar .top-bar #programName,
.middlebar .topBar #programName,
.middlebar .top-bar #programName {
  gap: 10px;
}
#middlebar .topBar #programName span,
#middlebar .top-bar #programName span,
.middlebar .topBar #programName span,
.middlebar .top-bar #programName span {
  left: 0 !important;
  line-height: 1 !important;
  top: 2px;
}
#middlebar .topBar #topIcons div.icon,
#middlebar .top-bar #topIcons div.icon,
.middlebar .topBar #topIcons div.icon,
.middlebar .top-bar #topIcons div.icon {
  top: 0;
}
@media (max-width: 575px) {
  #middlebar .topBar .waiter-amount,
  #middlebar .top-bar .waiter-amount,
  .middlebar .topBar .waiter-amount,
  .middlebar .top-bar .waiter-amount {
    flex-basis: 30%;
  }
}
@media (max-width: 400px) {
  #middlebar .topBar .waiter-amount,
  #middlebar .top-bar .waiter-amount,
  .middlebar .topBar .waiter-amount,
  .middlebar .top-bar .waiter-amount {
    flex-basis: 40%;
  }
}
#middlebar .topBar .waiter-amount a,
#middlebar .top-bar .waiter-amount a,
.middlebar .topBar .waiter-amount a,
.middlebar .top-bar .waiter-amount a {
  display: flex;
  align-items: center;
  gap: 4px;
}
#middlebar .topBar .waiter-amount a::before,
#middlebar .top-bar .waiter-amount a::before,
.middlebar .topBar .waiter-amount a::before,
.middlebar .top-bar .waiter-amount a::before {
  display: none;
}
#middlebar .topBar .waiter-amount i,
#middlebar .top-bar .waiter-amount i,
.middlebar .topBar .waiter-amount i,
.middlebar .top-bar .waiter-amount i {
  font-size: 20px;
  margin-top: -3px;
}

@media (max-width: 1366px) {
  .main-wrap {
    padding-left: 8%;
  }
}
@media (max-width: 1199px) {
  .main-wrap {
    width: 100%;
    padding-left: 0;
  }
}
@media (max-width: 1199px) {
  #sidebar {
    display: none;
  }
  #middlebar {
    width: 100%;
    height: auto !important;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-bottom: 25px;
  }
  #middlebar .topBar {
    display: flex;
    align-items: center;
    float: none !important;
  }
  #middlebar .topBar #sidebarToggler {
    margin-left: 2%;
  }
  #middlebar div.bars.middle {
    display: flex;
    gap: 10px;
    float: none;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  #middlebar div.bars.middle {
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  #middlebar div.bars.middle div.box {
    margin: 0 !important;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  #middlebar div.bars.middle div.box {
    flex-basis: 100% !important;
    width: 100% !important;
  }
}
@media (max-width: 1199px) {
  #middlebar div.bars.middle div.box.projects {
    flex-basis: 60%;
  }
  #middlebar div.bars.middle div.box.right {
    flex-basis: 40%;
  }
  #middlebar div.bars.middle div.box.circle {
    flex-basis: 40%;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #middlebar div.bars.middle div.box.circle {
    flex-basis: 50%;
  }
}
@media (max-width: 1199px) {
  #middlebar div.bars.middle div.box.property {
    flex-basis: 60%;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  #middlebar div.bars.middle div.box.property {
    flex-basis: 50%;
  }
}
@media (max-width: 1199px) {
  #dashboard div.bars-top {
    display: grid;
    height: auto;
    min-height: 125px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4px;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  #dashboard div.bars-top {
    grid-template-columns: repeat(2, 1fr);
    min-height: 100px;
    gap: 4px;
  }
  #dashboard div.bars-top > div {
    margin: 0 !important;
  }
}
@media (max-width: 900px) {
  #loadPage .twoCols {
    width: 100%;
  }
  #loadPage .twoCols.one {
    margin-bottom: 8px;
  }
}

@media (max-width: 900px) {
  div.orders-workplace a#btnCancel {
    min-width: 80px;
  }
  div.orders-workplace div.theForm div.record {
    display: flex;
    gap: 10px 50px;
  }
}
@media (max-width: 900px) and (max-width: 767px) {
  div.orders-workplace div.theForm div.record {
    flex-direction: column;
  }
}
@media (max-width: 900px) {
  div.orders-workplace div.theForm div.record .column {
    width: 100%;
  }
  div.orders-workplace div.theForm div.record .column.right .rghtPrt {
    display: flex;
  }
  div.orders-workplace div.theForm div.record .column select,
  div.orders-workplace div.theForm div.record .column input {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .middlebar .theForm section {
    flex-direction: column;
    gap: 20px;
  }
  div.orders-workplace div.theForm button.btnSubmit {
    min-width: 80px;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  div.orders-workplace .popUpForm div.record.last,
  div.orders-workplace div.theForm div.record.last,
  .register-wrap div.theForm div.record.last {
    padding-top: 1.5%;
    padding-bottom: 2%;
  }
}
@media (max-width: 575px) {
  .middlebar .theForm fieldset .innerRow .w-eight-half {
    width: 76% !important;
  }
  .orders-workplace .popUpForm div.lftPart {
    height: auto;
    line-height: 1.25;
  }
  .orders-workplace .popUpForm .content {
    width: 95% !important;
  }
  .orders-workplace .popUpForm .content input,
  .orders-workplace .popUpForm .content select,
  .orders-workplace .popUpForm .content textarea {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  div.orders-workplace input.inputText.second {
    margin-left: 0;
    margin-top: 6px;
  }
}
@media (max-width: 1199px) {
  div.orders-workplace input.inputText {
    width: calc(50% - 55px) !important;
    margin-top: 0 !important;
    margin-left: 5px !important;
  }
  div.orders-workplace div.reportArea div#filterWrap div.filter label {
    width: 100px;
  }
  .orders-workplace div.reportArea button {
    margin-left: 8px;
    min-width: 100px !important;
    float: right;
  }
  .orders-workplace div.reportArea button#downloadExcel {
    min-width: 185px !important;
  }
  div.orders-workplace div.reportArea div.rprtType label {
    display: flex;
    align-items: baseline;
  }
  div.orders-workplace div.reportArea div.rprtType label span {
    transform: translateY(-2px);
  }
  div.orders-workplace div.reportArea div.rprtType label input,
  div.orders-workplace div.reportArea div.rprtType label span {
    float: none !important;
    height: auto !important;
  }
}
@media (max-width: 991px) {
  .orders-workplace .reportArea section {
    flex-direction: column;
    gap: 20px;
  }
  .orders-workplace .reportArea section fieldset {
    width: 100%;
  }
}
@media (max-width: 575px) {
  div.orders-workplace div.reportArea div.rprtType {
    width: 100%;
  }
}
.popup-box .content .main .radio-box {
  flex-grow: 1;
  max-width: 150px;
  text-align: center;
}

@media (max-width: 1199px) {
  .middlebar .dashboard-content .order-form {
    align-items: baseline;
  }
  .middlebar .order-form .waiters {
    height: auto;
    padding-bottom: 0;
  }
  .orders-workplace .popUpForm.vlarge .content {
    max-width: 930px;
    width: 100%;
  }
  div.orders-workplace input.inputText.jumbo {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
@media (max-width: 991px) {
  .middlebar .order-form > * {
    flex-basis: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 8px !important;
  }
  .middlebar .order-form .meals {
    order: 4;
  }
  div.orders-workplace .popup-box.vlarge div.record {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  div.orders-workplace .popup-box.vlarge div.record .column {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .popup-box .content {
    width: 95%;
  }
}
@media (max-width: 767px) and (max-width: 575px) {
  .popup-box .content .main {
    margin-inline: 25px;
  }
}
@media (max-width: 767px) {
  .popup-box .content .main .row .rightPrt input.inputText {
    width: 100% !important;
  }
}
div.orders-workplace #loadPage #dynamicQnd #foundNum {
  flex-basis: auto !important;
  width: auto !important;
}

@media (max-width: 1199px) {
  div.orders-workplace #loadPage #dynamicQnd #dataTable {
    overflow-y: auto;
  }
  div.orders-workplace #loadPage #dynamicQnd #dataTable .header, div.orders-workplace #loadPage #dynamicQnd #dataTable .load-data {
    width: 1025px !important;
  }
  div.orders-workplace #loadPage #dynamicQnd #dataTable .short.cave {
    width: 7% !important;
  }
  .orders-workplace .popUpForm div.rightPrt input,
  .orders-workplace .popUpForm div.rightPrt select {
    margin-left: 0 !important;
    width: 100% !important;
  }
  div.orders-workplace #loadPage #dynamicQnd #filters {
    width: 50%;
  }
}
@media (max-width: 1199px) and (max-width: 991px) {
  div.orders-workplace #loadPage #dynamicQnd #filters {
    width: 65%;
  }
}
@media (max-width: 1199px) and (max-width: 767px) {
  div.orders-workplace #loadPage #dynamicQnd #filters {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  div.orders-workplace #loadPage #command {
    padding: 0 !important;
    background-color: transparent !important;
    border: none !important;
    flex-direction: column;
    flex-direction: column-reverse;
    gap: 10px;
  }
  div.orders-workplace #loadPage #command .search {
    flex-basis: 100%;
    width: 100%;
    flex-wrap: wrap;
  }
  div.orders-workplace #loadPage #command .search .buttons {
    width: 100%;
  }
}
@media (max-width: 767px) {
  div.orders-workplace #loadPage #dynamicQnd #filters label {
    text-align: left;
    width: 30%;
    margin-top: 4px;
  }
  div.orders-workplace #loadPage #dynamicQnd #filters select {
    width: 70%;
  }
  div.orders-workplace #loadPage #dynamicQnd #filters > div {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  div.orders-workplace #loadPage #command .search {
    width: 100%;
    gap: 6px;
    justify-content: flex-end;
  }
  div.orders-workplace #loadPage #command .search #searchBox,
  div.orders-workplace #loadPage #command .search .search-options {
    flex-basis: 45% !important;
    margin: 0 !important;
    flex-grow: 1;
  }
  div.orders-workplace #loadPage #command .search > .buttons {
    width: 100%;
    text-align: right;
    justify-content: flex-end;
    float: none !important;
  }
}
@media (max-width: 575px) {
  .orders-workplace .popUpForm div.lftPart {
    margin-top: 4px;
    padding-right: 3px;
  }
  .orders-workplace div.twoCols div.record div#batono {
    width: 18%;
  }
  .orders-workplace div.twoCols div.record #cinwan {
    width: 52%;
  }
}/*# sourceMappingURL=responsive.css.map */